<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav>

            <div class="header">
                <div class="logo">
                    <li>
                        <h1>URL </h1>
                        <h3>SHORTNER</h3>
                    </li>
                </div>
                <ul class="header-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <h2>About us</h2>
            <p>At Freely Shrink, we believe simplicity drives productivity. Our platform provides a reliable and
                efficient URL shortening service designed to help individuals, businesses, and developers manage and
                share links with ease.

                Our mission is to make link management effortless. Whether you are sharing content on social media,
                running digital marketing campaigns, or simply organizing personal links, our tool ensures your URLs are
                short, clean, and user-friendly.

                At Freely Shrink, we’re not just shortening URLs — we’re empowering you to share smarter, measure
                better, and grow faster in the digital world.</p>
        </div>
    </main>
    
<footer>
    <div class="footer">
        <p>© 2026 Url Shortener. All rights reserved.</p>
    </div>
</footer>
</body>

</html>