<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav>

            <div class="header">
                <div class="logo">
                    <li>
                        <h1>URL </h1>
                        <h3>SHORTNER</h3>
                    </li>
                </div>
                
                    <ul class="header-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                

            </div>
        </nav>
    </header>

    <main>
        <div class="container">

            <form action="https://api.web3forms.com/submit" method="POST" class="contact-input">
                <h2>Contact Us</h2>
                <input type="hidden" name="access_key" value="2acb9b76-1927-4462-996f-41fde489dc96">
                <input type="text" name="name" required placeholder="Enter your Sweet Name">
                <input type="email" name="email" required placeholder="Enter you Email Address">
                <textarea name="message" required placeholder="Your message"></textarea>
                <button type="submit">Submit Form</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>© 2026 Url Shortener. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>